@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");

$red: #00a2e2;
$black: #191919;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;

  .wrapper {
    padding: 0 40px;

    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      p {
        font-size: .75rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        font-weight: 500;
      }

      h5 {
        margin-top: 260px;
        font-size: 1.5rem;
        font-weight: 600;
        padding-right: 360px;
      }
    }
  }
}

// header

header {
  height: 100px;

  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    .logo a {
      font-weight: 700;
      text-decoration: none;
      color: $black;
    }

    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        color: $black;
      }
    }
  }

  // Hamburger menu or navigation

  .hamburger-menu {
    // display: none;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    .menu-secondary-background-color {
      background: $black;
      top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    animation: cameraPan 30s infinite;
    }

    .menu-layer {
      position: relative;
      background: $red;
      height: 100%;
      overflow: hidden;

      .menu-city-background {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
      
      }

      .wrapper {
        position: relative;

        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 200px;

          nav {
            display: block;

            ul {
              padding: 0;
              margin: 0;

              li {
                list-style: none;
                font-size: 6rem;
                font-weight: 700;
                cursor: pointer;
                height: 135px;
                overflow: hidden;
                position: relative;
                width: 700px;

                a {
                  position: absolute;
                  color: #fff;
                  text-decoration: none;

                  &:hover {
                    color: $black;
                  }
                }
              }
            }
          }

          .info {
            color: #fff;
            width: 300px;

            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }
            p {
              margin: 0 auto;
              font-size: 0.8rem;
            }
          }
        }
        .location {
          position: absolute;
          bottom: -60px;
          color: #fff;
          font-size: .8rem;
          font-weight: 600;
          margin-top: 16px;

          span {
            &:first-child {
              margin-left: 64px;
            }
            cursor: pointer;
            font-weight: 400;
            margin: 0 32px;
            transition: .3s ease-in-out;

            &:hover {
              background: $black;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}


@keyframes cameraPan {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0% 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}